// breakpoints
$pr-sm-breakpoint: 360px;
$pr-md-breakpoint: 400px;
$ls-xs-breakpoint: 600px;
$ls-sm-breakpoint: 960px;
$ls-md-breakpoint: 1280px;
$ls-lg-breakpoint: 1920px;

//gutters
$gutter-4c: 480px;
$gutter-8c: 840px;

// page
$dark-mode-color: #2B2828;
$switch-enabled-color: #690505;


